<br><br>
<script>
    $(function () {
        $('#dynamic-table').DataTable();
        $("#download").click(function () {
            $("#dynamic-table").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "AllPhones" + new Date().toISOString().replace(/[\-\:\.]/g, "")+".xls",
                fileext: ".xls",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });

    });
</script>
<div>
  <button class="my-button" id="download" style="margin: 1em;">Download</button>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Phone</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% @contacts.each do |c| %>
          <tr>
            <td><%= c.phone %></td>
            <td><%= c.created_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br><br>
</div>
