

<h1><%= @store.store_name %></h1>


<p>Visits : <%= Contact.where(store_id:current_store.id).count%></p>


<%= link_to 'Campaigns', store_campaigns_path %></p>
<%= link_to 'Edit Store Settings', edit_store_registration_path %></p>
