
<div class="row text-center" style="margin-top: 2em;">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <% if @camp.direct_login %>
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:2em">
          <a href="<%= pages_direct_path %>" class="submit-button"><i class="fa fa-globe"></i>  BROWSE</a>
        </div>
    <% end %>
    <% if @camp.fb_status %>
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:2em">
          <a href="<%= pages_facebook_path %>" class="submit-button"><i class="fa fa-facebook"></i>&nbsp; Facebook Login</a>
        </div>
    <% end %>
    <% if @camp.sms_status %>
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:2em">
          <a href="<%= pages_phone_path %>" class="submit-button"><i class="fa fa-phone"></i>&nbsp; SMS Login</a>
        </div>
    <% end %>
    <% if @camp.email_status %>
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:2em">
          <a href="<%= pages_email_path %>" class="submit-button"><i class="fa fa-envelope"></i>&nbsp; Email Login</a>
        </div>
    <% end %>
  </div>
</div>
<div class="col-md-12"><br><br><br>
  <p style="color:#000;text-align:center;font-weight:900">Powered by <a target="_blank" href="http://www.zerone.co.ke" style="color:#6dc6d7;">Zerone I.T. Solutions</a></p>
</div>
