<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <% if @camp.campaign_text_status %>
          <p class="text-center" style="color:<%= @camp.text_color %>; font-size:36px; font-family:'Century Gothic';">
            <strong><%= @camp.campaign_text %></strong>
          </p>
      <% end %>
      <%= video_tag @camp.video.url, width: '100%', autobuffer: true, autoplay: 'autoplay', controls: true %>
    </div>
  </div>
  <%= render 'login' %>
</div>
