<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Java Start page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<style>
		button {
			background-color: #B5252E;
			color: #FFFFFF;
			font-family: "Agency FB";
			margin-left: auto;
			margin-right: auto;
			font-size: 20px;
			width: 30%;
			height: 50px;
			word-spacing: 2px;
		}
		.panel {
			height: 300px;
			width: 300px;
			background: rgba(0,0,0,0.5);
		}

		.panel-body {
			height: 466px;
			width: 300px;
		}
		p {
			text-align: center;
			color: #FFFFFF;
			font-family: "Century Gothic";
			font-size: 24px;
		}
		body {
			background-color: #B5252E;
		}
		.border {
			border-style: solid;
			border-color: #FFFFFF;
			border-width: 1px;
		}
		a {
			text-decoration: none;
			color: #FFFFFF;
		}
		a:visited {
			text-decoration: none;
			color: #FFFFFF;
		}
		a:hover {
			text-decoration: none;
			color: #FFFFFF;
		}
		.outer {
			display: table;
			position: absolute;
			height: 100%;
			width: 100%;
		}

		.middle {
			display: table-cell;
			vertical-align: middle;
		}

		.inner {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
	</style>

	<body alink="#FFFFFF" vlink="#FFFFFF">
		
		<div class="outer">
			<div class="middle">
				<div class="inner">
					<%= render 'splash' %>
				</div>
			</div>
		</div>
	</body>
</html>

