<div style="margin-bottom: 1em;margin-bottom: 1em;" class="row">
	<div class="col-md-9 col-md-offset-1">
<% if !flash[:alert].nil? %>
	<div class="alert alert-info alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		 <%= flash[:alert] %>
	</div>
	<%end %>
	
	<% if !flash[:notice].nil? %>
	<div class="alert alert-success alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		 <%= flash[:notice] %>
	</div>
	<%end %>
	</div>
	</div>
