<!DOCTYPE html>
<html>
  <head>
    <title>C-NET Portal</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <%= csrf_meta_tags %>
  </head>

  <body>


  <%= yield %>
  </body>
</html>
